html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "TT Lakes", sans-serif;
	background-color: #f8f8f8;
}

.button {
	border: none;
	background: none;
	cursor: pointer;
}

/* CONTAINER */
.container {
	max-width: 288px;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.container {
		max-width: none;
		max-width: 720px;
	}
}

@media (min-width: 1120px) {
	.container {
		max-width: none;
		max-width: 1060px;
	}
}

/* HEADER */
.header-container {
	height: 188px;
}

.header-background {
	width: 100%;
	height: 88px;
	background: #ffffff;
	border-bottom: 1px solid rgba(217, 255, 245, 1);
}

@media (min-width: 1120px) {
	.header-background {
		background: none;
		border-bottom: none;
	}
}

/* MENU */
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 88px;
}
@media (min-width: 1120px) {
	.menu {
		flex-wrap: wrap;
	}
}

.menu__div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.menu__div--width-1 {
	width: 60%;
}

.menu__div--width-1::after {
	content: "";
	width: 2px;
	height: 32px;
	background-color: #eaeaea;
}

.menu__link,
.menu__button {
	cursor: pointer;
	display: block;
}

@media (min-width: 768px) {
	.menu__div--width-1::after {
		display: none;
	}

	.divider1::before {
		content: "";
		display: block;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;
		margin-left: 5px;
	}

	.menu__div--width-1 {
		width: 23%;
	}

	.menu__div--width-2 {
		width: 21%;
		margin: 0 0 0 220px;
	}

	.menu__div--width-3 {
		width: 13%;
	}

	.divider2::before {
		content: "";
		display: block;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;
		margin-left: -16px;
	}
}

@media (min-width: 1120px) {
	.divider2::before {
		display: none;
	}

	.menu__div--width-3 {
		width: 40%;
		margin: 0 0 0 495px;
	}
}

.menu__link,
.menu__button {
	cursor: pointer;
	display: block;
}

.menu__item {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.menu__div--hidden {
	display: none;
}

@media (min-width: 768px) {
	.menu__div--hidden {
		display: flex;
	}
}

@media (min-width: 1120px) {
	.menu__item a {
		text-decoration: none;
		font-family: "TT Lakes";
		font-weight: 500;
		font-size: 16px;
		letter-spacing: -0.2px;
		color: #1b1c21;
	}

	.menu__div--hidden {
		display: none;
	}

	.menu__div--hidden1120 {
		display: none;
	}

	.menu__div--width-3 {
		display: flex;
	}
	.menu__link--labeled--request {
		position: relative;
		left: -15px;
	}

	.menu__link--labeled--request::before,
	.menu__link--labeled--status::before {
		font-family: "TT Lakes";
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
		position: relative;
		position: relative;
		top: -25%;
		left: -5%;
	}

	.menu__link--labeled--request::before {
		content: "Оставить заявку";
	}

	.menu__link--labeled--status::before {
		content: "Статус ремонта";
	}
}

/* SERVICES */
.services {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 35px 0;
}

@media (min-width: 1120px) {
	.services {
		padding: 0 0 35px 0;
	}
}

.header-title__title {
	width: 100%;
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	color: #1b1c21;
	width: max-content;
}

.header-title__title::before {
	position: absolute;
	top: 100px;
	left: 0;
	border-radius: 0 3px 3px 0;
	content: "";
	width: 4px;
	height: 40px;
	background-color: #41f6d7;
}

@media (min-width: 1120px) {
	.header-container {
		height: 94px;
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: center;
	}
	.header-title__title::before {
		top: 24px;
		left: 0;
	}
}

/* NAV */

.navigation__ul {
	padding-left: 0;
	display: flex;
	align-items: center;
	list-style: none;
	overflow: auto;
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.navigation__ul::-webkit-scrollbar {
	display: none;
}

@media (min-width: 768px) {
	.navigation__ul {
		overflow: auto;
	}
}

@media (min-width: 1120px) {
	.navigation__ul {
		height: 100px;
		flex-wrap: wrap;
	}
}

.navigation__link {
	cursor: pointer;
	display: block;
	font-family: "TT Lakes";
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7e7e82;
	margin: 0 10px 0 0;
	padding: 8px;
	flex-shrink: 0;
	text-decoration: none;
	width: max-content;
}

.navigation__item {
	display: block;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
	outline: 2px solid #b8ffec;
	border-radius: 6px;
	background-color: #fff;
}

/* CONTENT (P + IMG) */
.services-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@media (min-width: 768px) {
	.services-container {
		flex-direction: row;
	}
}

@media (min-width: 1120px) {
	.services-container {
		flex-direction: row;
	}
}

.services-content__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/* P */
.services-text__paragraph {
	font-family: "TT Lakes";
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: #1b1c21;
	margin: 0;
}

.services-text__paragraph_hidden,
.services-text__paragraph_768hidden {
	display: none;
}

@media (min-width: 768px) {
	.services-text__paragraph {
		line-height: 20px;
		width: 310px;
	}

	.services-text__paragraph_hidden {
		display: inline;
	}
}

@media (min-width: 1120px) {
	.services-text__paragraph {
		line-height: 20px;
		width: 490px;
	}

	.services-text__paragraph_hidden,
	.services-text__paragraph_768hidden {
		display: inline;
	}
}

.services-text__button {
	display: flex;
	align-items: center;
	margin: 16px 0 16px 0;
}

.services-text__button {
	text-decoration: none;
	font-family: "TT Lakes";
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1b1c21;
}

.services-text__img-container::before {
	content: url(../assests/img/icons/expand.png);
}

/* IMG */
.services-img {
	width: 100%;
}
